@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0 padding 0;
  box-sizing: border-box;
  font-family: poppins;
  /* font-weight: bold; */
}

/* animation for testimonial */
:root {
  --clr-1: #1e17c7;
  --clr-2: #9400aa;
  --clr-3: #c60088;
  --clr-4: #f03636;
  --clr-5: #c9b900;
  --clr-6: #df9400;
  --clr-7: #a7dc0e;
  --clr-8: #6dfb5f;
  --clr-9: #ef5321;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.review-container::before,
.review-container::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-2),
    var(--clr-4),
    var(--clr-5),
    var(--clr-3),
    var(--clr-1),
    var(--clr-6),
    var(--clr-7),
    var(--clr-8),
    var(--clr-9)
  );
  border-radius: inherit;
  animation: rotate 20s linear infinite;
  /* transition: all 3s ease-in; */
}

.review-container::after {
  filter: blur(.5rem);
}
/* animation for testimonial */
button {
  cursor: pointer;
}
a:hover,
button:hover {
  transform: scaleX(95%);
  transition: 0.6s;
  filter: drop-shadow(0 0.1em 1em black);
}
body {
  background-color: #fff;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.dropdown button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
} 

.dropdown a {
  display: block;
  text-decoration: none;
  color: black;
}
.dropdown .dropdown-content {
  border: 2px solid black;
  border-radius: 8px;
  display: none;
}
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color:#6dfb5f;
  width: 200px;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* added border to the header */
  border: 1px solid #000;
  z-index: 99;
}
.header-left {
  display: flex;
  align-items: center;
  border-bottom-right-radius: 40px;
}
.header-btn button {
  border: none;
  border-radius: 20px 30px;
  background-color: blue;
  padding: 15px;
  color: white;
}
.header-btn i {
  padding-right: 10px;
}

/* //////////////////////MEDIA QUERIES//////////// */

/* BREAKPOINTs */

/* Mobile small */
@media (min-width: 320px) {
  body {
    /* background-color: darkorange; */
    border: 2px solid black;
  }
  .BrandName {
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-align: center;
    color: #000;
  }
  .BrandName a {
    color: #000;
    text-decoration: none;
    list-style: none;
  }
  .BrandName a:hover {
    filter: drop-shadow(0 0.1em 1em mediumspringgreen);
    color: white;
  }
  .BrandName span {
    color:mediumspringgreen;
  }
  .header-btn {
    display: none;
  }
  .header-left {
    align-items: baseline;
  }
  nav {
    position: absolute;
    width: 300px;
    height: 100%;
    display: none;
    background-color: springgreen;
    border-bottom: 2px solid white;
  }
  nav ul {
    list-style-type: none;
    display: block;
  }
  nav ul li {
    margin-bottom: 2rem;
  }
  .dropdown button {
    background: transparent;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  .dropdown a {
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
  }
  .dropdown .dropdown-content {
    border: 2px solid #000;
    text-align: center;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* ////////HAMBURGER ICON/////////// */
  .hamburger-icon {
    position: relative;
    top: 15%;
    width: 50px;
    min-width: 50px;
    min-height: auto;
    height: 50px;
    border-radius: 50%;
  }
  .hamburger-icon span {
    right: 10px;
    transition: 1s ease;
  }
  .hamburger-icon .span-1 {
    width: 30px;
    height: 5px;
    background-color: rgb(192, 188, 188);
    position: absolute;
    top: 18px;
  }
  .hamburger-icon .span-2 {
    width: 30px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 26px;
  }
  .hamburger-icon .span-3 {
    width: 25px;
    height: 5px;
    background-color: rgb(192, 188, 188);
    position: absolute;
    top: 33px;
  }
  .first-span {
    transform: rotate(45deg);
  }
  .first-span2 {
    transform: rotate(0deg);
  }
  .sec-span {
    transform: rotate(-45deg);
  }
  .third-span {
    opacity: 0;
  }

  /* ///////// Main /////////// */
  .sec-1 {
    /* background-color: rgb(238, 231, 231); */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */
    padding-left: 0.5rem;
    padding-top: 2rem;
    position: relative;
  }
  .sec-1 h1 {
    font-weight: bold;
    font-size: 1.29rem;
    white-space: nowrap;
  }
  .sec-1 span {
    color:mediumspringgreen;
  }
  input {
    border-radius: 15px;
    border: none;
    width: 165px;
    height: 35px;
    padding-left: 10px;
    font-size: 0.7rem;
    background-color: rgb(223, 216, 216);
    outline: none;
  }
  .sec-1 img {
    width: 150px;
    height: 150px;
    padding-right: 0.5rem;
    z-index: 1;
  }
  .pic-frame {
    width: 120px;
    height: 100px;
    background-color: mediumspringgreen;
    position: absolute;
    right: 0;
    bottom: 12px;
    border-radius: 20px;
    transform: rotate(15deg);
  }

  /* Categories */
  .sec-2,
  .sec-3 {
    margin-top: 2rem;
    /* border: 1px solid #000; */
  }
  .sec-2 .categories,
  .sec-3 .testimonials {
    text-align: center;
    width: max-content;
    height: max-content;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgb(235, 231, 231);
    color: #000;
    margin: auto;
    font-weight: normal;
  }
  .sec-2 h2,
  .sec-3 h2 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }
  /*  */
  #book-categories {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 1rem;
  }
  .book-item {
    width: 90%;
    height: 350px;
    color: #000;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    padding-top: 2rem;
    font-weight: bold;
  }
  .book-item h3 {
    font-size: 1.2em;
    margin-top: 0;
    color: #fff;
  }
  .view-collection-button {
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    border: 1px groove #fff;
    padding: 5px 15px;
    margin-bottom: 1.5rem;
  }
  .book-item img {
    width: 90%;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .book-item p {
    color: #000;
  }
  /*///Testimonials///*/
  .review-container {
    width: 70%;
    height: 250px;
    background-color: rgb(214, 210, 210);
    margin: auto;
    border-radius: 20px;
    position: relative;
  }
  .review-content {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1rem;
    line-height: 1.2rem;
  }
  .reviewer {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
  }
  .reviewer-job {
    font-size: 0.7rem;
    text-align: center;
  }
  .img-div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10px;
  }
  .reviewer-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
  }
  /* Footer */
  .copyright-container {
    padding-top: 1rem;
  }
  .copyright {
    font-size: 1rem;
    text-align: center;
  }

  /* CATEGORIES PAGE STYLING */
img{
  display: block;
  max-inline-size: 100%;
}
#category-books{
  display: grid;
 grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
 justify-content: center;
 gap: 20px;
 /* word-wrap: break-word; */
 padding: 0 4%;
}
.category-pages-card{
  background:#000;
  margin-top: 1rem;
  padding: 15px;
  border-radius: 25px ;
}
  img {
    display: block;
    max-inline-size: 100%;
  }
  #category-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 20px;
    /* word-wrap: break-word; */
    padding: 0 4%;
  }
  .category-pages-card {
    background: rgb(185, 184, 184);
    margin-top: 1rem;
    padding: 15px;
    border-radius: 25px;
  }

  .img-fluid {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  /* changes to title size color and font family */
  .category-pages-card .category-title {
    font-size: 1.5rem;
    color: #18021b;
    text-shadow: 2px 2px 3px rgb(242, 110, 247);
  }
.img-fluid{
  width: 100%;
  height: 300px;
  object-fit: contain;
}
/* changes to title size color and font family */
.category-pages-card .category-title{
  font-size: 1.5rem;
  /* color: #18021b; */
  color: #000;
  /* text-shadow: 2px 2px 3px rgb(242, 110, 247); */
  text-shadow: 2px 2px 7px #000;
}

  .category-pages-card .author {
    font-family: cursive;
    font-size: 1.2rem;
  }
  .category-pages-card .description {
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: cursive;
  }
  /* styling ends here */
  .category-pages-card h1,
  .category-pages-card p {
    text-align: center;
  }
  /*  */
.category-pages-card .author{
  font-family: cursive;
  font-size: 1.2rem;
  color: #fff;
}
.category-pages-card .description{
  font-size: .9rem;
  font-weight: bolder;
  font-family: cursive;
}
/* styling ends here */
.category-pages-card h1,
.category-pages-card p {
  text-align: center;
  color: #fff;
}
/*  */
}
/* Mobile medium */
@media (min-width: 375px) {
  .sec-1 h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  input {
    width: 190px;
  }
  .sec-1 img {
    width: 170px;
    height: 170px;
    padding-right: 0;
  }
  .pic-frame {
    width: 140px;
    height: 140px;
    bottom: 12px;
    right: 15px;
    transform: rotate(17deg);
  }

  /* Categories */
  .book-item {
    height: 380px;
  }
  .review-content {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }
  /* Footer */
  .copyright {
    font-size: 1.2rem;
  }
}
/* Mobile Large */
@media (min-width: 425px) {
   .sec-1 h1 {
    font-weight: bold;
    font-size: 1.7rem;
  }
  input {
    width: 220px;
  }
  .sec-1 img {
    width: 190px;
    height: 190px;
  }
  .pic-frame {
    width: 150px;
    height: 140px;
    border-radius: 18px;
    transform: rotate(19deg);
    bottom: 16px;
    right: 10px;
  }
  /* Categories */
  .book-item {
    height: 410px;
  }
  /*  */
  .review-content {
    padding-inline-start: 0.9rem;
    padding-inline-end: 0.9rem;
  }
  .img-div {
    background-color: green;
  }
   /* Footer */
  .copyright {
    font-size: 1.2rem;
  }
}
/* Tablet */
@media (min-width: 768px) {
   header{
    display: flex;
    justify-content: space-around;
  }
  .BrandName {
    padding-right: 10rem;
  }
  .dropdown a {
    font-size: 0.8rem;
  }
  .dropdown button {
    font-size: 0.8rem;
    font-weight: bold;
  }
  nav {
    display: contents;
  }
  nav ul {
    display: flex;
  }
  nav ul li a {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .hamburger-icon {
    display: none;
  }
  .sec-1 {
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between;
  }
  .sec-1 h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }
  input {
    width: 320px;
    height: 45px;
  }
  .sec-1 img {
    width: 260px;
    height: 260px;
    box-shadow: 3px 3px 1px #000;
  }
  .pic-frame {
    width: 230px;
    height: 210px;
    border-radius: 25px;
    transform: rotate(9deg);
    bottom: 10px;
    right: 90px;
  }
  /*  */
  .sec-2 .categories,
  .sec-3 .testimonials {
    padding: 4px 12px;
    border-radius: 17px;
    font-size: 1.3rem;
  }
  .sec-2 h2,
  .sec-3 h2 {
    font-size: 1.8rem;
  }
  /* // */

    #book-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
  .science {
    grid-column: span 2;
  }
  /* testimonials */
  .review-content {
    font-size: 1.1rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
  }
  .reviewer {
    font-size: 1rem;
  }
  .reviewer-job {
    font-size: 1rem;
  }
  .img-div {
    width: 80px;
    height: 80px;
    /* background-color: yellow; */
    left: -5px;
  }
  .reviewer-img {
    width: 70px;
    height: 70px;
  }
}
/* Laptop */
@media (min-width: 1024px) {
   .BrandName {
    padding-right: 23rem;
  }
  .dropdown a {
    font-size: 1rem;
  }
  .dropdown button {
    font-size: 1rem;
    font-weight: bold;
  }
  nav ul li a {
    font-size: 1rem;
  }
  .sec-1 h1 {
    font-size: 3.5rem;
  }
  input {
    width: 445px;
    font-size: 0.9rem;
  }
  .sec-1 img {
    width: 350px;
    height: 350px;
  }
  .pic-frame {
    width: 290px;
    height: 260px;
    border-radius: 25px;
    transform: rotate(9deg);
    bottom: 15px;
    right: 100px;
  }
  /* Categories */
  .book-item {
    height: 450px;
  }
  .book-item h3 {
    font-size: 1.5rem;
  }
  .view-collection-button {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}
/* Laptop Large */
@media (min-width: 1440px) {
   .BrandName {
    padding-right: 55rem;
    font-size: 2rem;
    line-height: 1.8rem;
  }
  nav ul li a {
    font-size: 1.3rem;
  }
  .dropdown button {
    font-size: 1.3rem;
  }
  .dropdown a {
    font-size: 1.3rem;
  }
  .sec-1 {
    padding-top: 6rem;
    padding-inline-start: 9rem;
    padding-inline-end: 9rem;
  }
  .sec-1 h1 {
    font-size: 5rem;
  }
  input {
    width: 570px;
    height: 70px;
    border-radius: 30px;
    font-size: 0.9rem;
  }
  .sec-1 img {
    width: 700px;
    height: 700px;
  }
  .pic-frame {
    width: 600px;
    height: 550px;
    border-radius: 70px;
    transform: rotate(20deg);
    bottom: 65px;
    right: 200px;
  }
  /*  */
  .sec-2 .categories,
  .sec-3 .testimonials {
    padding: 7px 15px;
    border-radius: 25px;
    font-size: 1.9rem;
  }
  .sec-2 h2,
  .sec-3 h2 {
    font-size: 3.5rem;
  }
  /* // */
  #book-categories {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
  }
  .book-item h3 {
    font-size: 1.5rem;
  }
  .view-collection-button {
    font-size: 1.1em;
    border-radius: 25px;
  }
  /* Footer */
  .copyright {
    font-size: 1.4rem;
  }

  /* NATURE PAGE*/
  #category-books {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
  }
}

/* ACTION AND ADVENTURE */
.all-categories h1 {
  font-size: 1.5rem;
  text-align: center;
}

/* animation for cards */
@keyframes rotate {
  0%{--gradient-angle:0deg}
  100%{--gradient-angle:160deg}    
}